.grades {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(230px, 100%), 1fr));
  gap: 1rem;
  background-color: var(--background)

}

.button-bar {
  background-color: var(--primary);
  color: var(--text);
  display: flex;
  padding:1em;
}
